<b>What does Video Rentals do:</b>
<p>Rent what you want<br />
Simply point and click to add movies & TV episodes to your list. Get DVDs by mail plus instantly watch movies (some new releases) & TV episodes (including current season) online on your PC or Mac or streamed instantly from Netflix over the Internet right to your TV via a Netflix ready device. 
</p>
<p>
New Releases, Classics, TV episodes and more on DVD<br />
We have 100 shipping points nationwide and about 97% of our members receive their DVDs in about one business day.</p>
<p>
Some new releases, lots of classics and TV episodes available to watch instantly<br/ >
Instantly watch movies & TV episodes online on your PC or Mac or streamed instantly from Netflix over the Internet right to your TV via a Netflix ready device. This is included with your membership for no additional monthly fee and doesn’t impact the number of DVDs you get by mail.</p>
<p>
There's no catch - really<br />
There are no due dates or late fees - ever! </p>
<p>
Try us for FREE<br />
Try us free for 1 month. If you enjoy Netflix, do nothing and your membership will automatically continue on the plan you have selected for as long as you choose to remain a member. See Terms of Use for complete membership and free trial details. You can also simply cancel your account before your free trial ends and you won't be charged. </p>
<p>
Starting your free trial<br />
Simply enter your email address, create a password, and click the continue button. </p>
<p>
Cancel anytime<br />
You can easily cancel anytime, online, 24 hours a day. There are no cancellation fees although there are no refunds for partial months. </p>
<p>
About us<br />
With more than 15 million members, Netflix, Inc. is the world’s largest subscription service streaming movies and TV episodes over the Internet and sending DVDs by mail. For $8.99 a month, Netflix members can instantly watch unlimited TV episodes and movies streamed to their TVs and computers and can receive unlimited DVDs delivered quickly to their homes.</p>
<p>
What is the selection like? <br />
Huge! We have new releases, classics, TV episodes and more! 
We also have some new releases, lots of classics, and TV episodes that you can watch instantly - anytime! Instantly watch movies & TV episodes online on your PC or Mac or streamed instantly from Netflix over the Internet right to your TV via a Netflix ready device.
<br />
Plus, we're continually working with the studios to add more titles.</p>
<p>
How much does it cost?<br />
Netflix costs $8.99 a month. You get 1 DVD out at-a-time which you can exchange as often as you want. Plus, you can instantly watch online on your PC or Mac or right on your TV via an Internet connected Netflix ready device. Instantly watch as often as you want, anytime you want. </p>

<p>How many DVDs can I rent during my Free Trial?<br />

The number of DVDs you rent depends on a number of factors, including how often you watch and return your DVD. 
You can exchange your DVD for another DVD from your movie list (Queue) as often as you want.Return the DVD in its individual, pre-paid envelope to get the next available title from your Queue. You can also instantly watch movies (some new releases) & TV episodes (including current season), streamed instantly over the Internet, right on your TV via a Netflix ready device. In addition, you can watch instantly online on your PC or Mac.
</p>

</p>How fast will I get my DVDs?<br />

Our 100 shipping points across the United States allow us to provide more than 97% of our members with delivery within about one business day following shipment.</p>
</p>How long is the free trial?<br />

Your free trial will last for 1 month. Click here to learn more about the free trial offer details. </p>
<p>Can I cancel any time?<br />

Absolutely. You can easily cancel your membership anytime, online, 24 hours a day. There are no cancellation fees. To avoid being charged after your trial, simply cancel your account before the trial ends. However, there are no refunds for partial months. </p>
<p>Can I instantly watch TV episodes & movies via my Wii, PS3, or Xbox 360 right on my TV?<br />

Yes, you can watch via any or all of these devices, and you are on an Unlimited plan. All of them connect to the Internet and stream from Netflix. You can watch as often as you want, anytime you want. Sign up for Netflix today and follow the instructions after sign up to get started. </p>
<p>Can I instantly watch movies streamed from Netflix over the Internet to my PC or Mac?<br />

Yes, you can. The ability to instantly watch movies (some new releases) & TV episodes (including current season) streamed from Netflix to your PC or Mac is included. You can watch as often as you want, anytime you want. This is included with your membership for no additional monthly fee and doesn't impact the number of DVDs you get by mail. </p>
<p>What are the system requirements to watch movies instantly on my PC or Mac?<br />

You must have a computer running Windows or Mac OS X and an active broadband connection to the Internet. 
Windows requirements: Windows XP with Service Pack 2 or higher; Windows Vista; Windows 7; Internet Explorer 6.0 or higher or Firefox 2 or higher; 1.2 GHz processor; 512 MB RAM. 
Mac OS X requirements: an Intel-based Mac with OS 10.4.8 or later; Safari 3 or higher; Firefox 2 or higher; 1 GB RAM. </p>
<p>What is Starz Play?<br />

Starz Play service choices are incremental to the continually growing Netflix library available to watch instantly. Starz Play includes approximately 1,000 movies, Original Series, and other entertainment. These choices include new releases from major Hollywood studios such as Walt Disney Pictures, Sony Pictures Entertainment, Overture Films, Revolution Studios, Miramax Films, Touchstone Pictures, Hollywood Pictures, Pixar, TriStar, Screen Gems, Sony Classics and Warren Miller Films. Select first-run theatrical films The Weinstein Company, IFC and Yari Film Group are also available. Starz Play also supplies access to a streaming version of the live Starz TV channel on all unlimited plans at no additional cost. 
While access to instantly watch choices from the Starz Play service is included with all Unlimited plans, we do have a plan that limits what is available to watch to Starz Play service choices only. While this plan does not have any DVDs, it does offer unlimited streaming of these choices for $7.99 a month. This plan does not have a free trial. To sign-up for this plan, please click here.
</p>
<p>Does Netflix carry Blu-ray movies?<br/ >

Yes, we carry Blu-ray movies and are adding more as they are released by the studios. Anytime after signup you can add Blu-ray access to your account for an additional monthly charge. 
The Blu-ray access charge is an additional $2.00 a month. 

Click to browse our Blu-ray movies.
</p>