<h2>You've picked the following Video for viewing:</h2>
<p align="center">
  <b>Title:</b>
  <%=h @video.title %>
</p>

<p align="center">
  <b>Category:</b>
  <%=h @video.category.name %>
</p>
<h4>Please return the video within 10 days of receving it to avoid late fees</h4>