<h4>List of Categories</h1>

<table class="profile">
  <tr class="main">
    <th><b><u>Name</u></b></th>
  </tr>
  <tr><td></td></tr>
<% @categories.each do |category| %>
  <tr class="main">
    <td><%=h category.name %></td>
	<% if current_user.admin? %>
		<td><%= link_to 'Edit', edit_category_path(category) %>    <%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />
<% if current_user.admin? %>
	<%= link_to 'New category', new_category_path %>
<% end %>