<h4>Category Details</h4>
<p>
  <b>Name:</b>  <%=h @category.name %>
</p><br />

<% if current_user.admin? %>
	<%= link_to 'Edit', edit_category_path(@category) %> |
<% end %>
<%= link_to 'Category list', categories_path %> | 
<%= link_to 'Video list', videos_path %>