<h4>Category Details</h4>
<p>
  <b>Name:</b>  <%=h @category.name %>
</p><br />


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Category list', categories_path %>
<%= link_to 'Video list', videos_path %>