<br />
<br />
<div align="center" id="footer">
  <table class="profile">
    <tr bgcolor="#FFA500" class="main">
      <td colspan="2" valign="top">Copyright @ Sherley - ShareOne.com</td>
    </tr>
  </table>
</div>